.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(14px + 2vmin);
  color: white;
  text-align: center;
}

.click{
  background: #d45b5b;
  min-height: 100vh;
}

.game-instructions{
  margin: 0;
  text-align: center;
  padding-top: calc(50vh - 50px);
  font-size: calc(14px + 2vmin);
}

.reaction-image-container{
  max-width: 80%;
}

.reaction-image{
  width: 100%;
}

input[type=button]{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 25px 50px;
  margin: 4px 2px;
  cursor: pointer;
  font-size: calc(10px + 2vmin);
}