.app {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.app p{
  font-size: calc(14pt + 2vmin);
}

.start-game{
  background: #c53a3a;
  min-height: 100vh;
}

.click{
  background: #4bc151;
  min-height: 100vh;
}

.game-instructions{
  margin: 0;
  text-align: center;
  padding-top: calc(50vh - 50px);
  font-size: calc(14px + 2vmin);
}

.reaction-image-container{
  max-width: 80%;
}

.reaction-image{
  width: 100%;
}

input[type=button]{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 25px 50px;
  cursor: pointer;
  font-size: calc(12pt + 2vmin);
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}